body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .card {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-title {
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .card-title .bookmark-icon {
    margin-right: 5px;
  }
  
  .card-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-content p {
    margin: 0 0 10px;
  }
  
  .options-menu {
    position: relative;
    display: inline-block;
  }
  
  .options-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .options-menu-icon:hover {
    background-color: #eaeaea;
  }
  
  .options-menu-icon::before,
  .options-menu-icon::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #888;
    border-radius: 50%;
  }
  
  .options-menu-icon::before {
    margin-right: 2px;
  }
  
  .options-menu-icon::after {
    margin-left: 2px;
  }
  
  .bookmark-icon {
    margin-right: 5px;
  }
  
  .options-menu-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    min-width: 120px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
  }
  
  .options-menu-item {
    padding: 5px;
    cursor: pointer;
  }
  
  .options-menu-item:hover {
    background-color: #f5f5f5;
  }
  
  .card .options-menu-dropdown.show {
    display: block;
  }



  .dl-btn-2{
    padding: 4px 10px;
    margin-inline: 10px;
    font-weight: 700  ;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  .dl-btn-2:hover{
    color: red;
    background-color: white;
  }
  .ed-btn-2{
    padding: 4px 10px;
    margin-inline: 10px;
    font-weight: 700  ;
    background-color: rgb(60, 226, 137);
    border: 1px solid rgb(60, 226, 137);
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  .ed-btn-2:hover{
    color: rgb(60, 226, 137);
    background-color: white;
  }


